################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ShortestJobFirst/v15/Server/sqlite3
/ShortestJobFirst.sln
/ShortestJobFirst/bin/Debug/netcoreapp2.0
/ShortestJobFirst/obj
